global
	log 127.0.0.1   local0
	log 127.0.0.1   local1 notice
	daemon

	# Default SSL material locations
	ca-base /home/haproxy-cfg
	crt-base /home/haproxy-cfg

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL).
	ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
	ssl-default-bind-options no-sslv3

defaults
	log     global
	mode    http
	option  httplog
	option  dontlognull
	option  forwardfor
	option  http-server-close
	timeout connect 5000
	timeout client  50000
	timeout server  50000

frontend http
	bind *:80
	reqadd X-Forwarded-Proto:\ http
	redirect scheme https if !{ ssl_fc }

frontend https
	bind *:443 ssl crt localhost.pem
	reqadd X-Forwarded-Proto:\ https
	    
  acl is_for_nodeapp path_beg /nodejs
	use_backend nodeapp if is_for_nodeapp
	
	acl is_for_phpapp path_beg /php
	use_backend phpapp if is_for_phpapp

	default_backend authserver
		  
backend authserver
	option forwardfor
	server http1 ${AUTHSERVER_PORT_8080_TCP_ADDR}:${AUTHSERVER_PORT_8080_TCP_PORT}

backend nodeapp  
	reqrep ^([^\ ]*\ /)nodejs[/]?(.*)     \1\2  
	option forwardfor
	server http1 ${NODEAPP_PORT_3000_TCP_ADDR}:${NODEAPP_PORT_3000_TCP_PORT}    

backend phpapp
reqrep ^([^\ ]*\ /)php[/]?(.*)     \1\2
	option forwardfor
	server http1 ${PHPAPP_PORT_80_TCP_ADDR}:${PHPAPP_PORT_80_TCP_PORT}
