<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>Secured Content</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Secured Page</h1>
		<p>This page is secured using Spring Boot, Spring Session, and Spring Security.</p>
		
		<a th:href="@{/nodejs(sessionId=${sessionId})}">check out the Nodejs app page </a>
		<br />
		<a th:href="@{/php(sessionId=${sessionId})}">check out the PHP app page </a>
		
	</div>
</body>
</html>